// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.article {
  background-color: lightgray;
  margin: 20px;
  padding: 10px;
}
